.single .content>h2 {
    font-size: 1.8rem;
}
.single .content>h3 {
    font-size: 1.5rem;
}
.page {
  width: 50%;
  font-size: 1.2rem;
  font-kerning: auto;
  letter-spacing: 1px;
}
.single .content p {
  line-height: 200%;
  padding: .5rem 0;
}
#toc-auto {
  left: 76%;
}
/* 水平線像 medium 那樣 */
.single .content hr {
  margin: 2rem auto;
  max-width: 10%;
}
[theme=black] .single .content hr {
  border-top: 3px dashed #f0f0f0;;
}
[theme=black] .single .content code, [theme=black] .single .content pre, [theme=black] .single .content .highlight table, [theme=black] .single .content .highlight tr, [theme=black] .single .content .highlight td {
  background: transparent;
}
[theme=black] .single .content code {
  color: #d9d9d9;
}
.single .content code {
  color: #272c34;
}
