.single .content>h2 {
    font-size: 1.8rem;
}
.single .content>h3 {
    font-size: 1.5rem;
}
.page {
  width: 50%;
  font-size: 1.2rem;
  font-kerning: auto;
  letter-spacing: 1px;
}
.single .content p {
  line-height: 200%;
  padding: .5rem 0;
}
#toc-auto {
  left: 76%;
}
